// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Helvetica Neue Regular", "sans-serif";
$headers-font: "Helvetica Neue Regular", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@font-face {
  font-family: "Helvetica Neue Regular";
  src: font-url('HelveticaNeue-Regular.ttf') format('truetype')
}

@font-face {
  font-family: "Helvetica Neue Medium";
  src: font-url('HelveticaNeue-Medium.ttf') format('truetype')
}

@font-face {
  font-family: "Helvetica Neue Bold";
  src: font-url('HelveticaNeue-Bold.ttf') format('truetype')
}

@font-face {
  font-family: "Helvetica Neue Condensed Black";
  src: font-url('HelveticaNeue-CondensedBlack.ttf') format('truetype')
}

@font-face {
  font-family: "Tungsten";
  src: font-url('Tungsten.ttf') format('truetype')
}
