<%# <%= link_to "Enter", teams_path, class:"container" %>
<%# <%= image_tag "landing_concept", class:"container-fluid" %>

<div class="landing-video-wrapper">
  <%= video_tag "landing2.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "landing-video overlay" %>
  <%= image_tag "https://p82.f1.n0.cdn.getcloudapp.com/items/jkuemAkP/07e64844-89e7-490b-8de1-b72f5e454581.png?source=viewer&v=a0eed5c68887fe2b540d8464adc6599e", class:"centrifuge" %>
</div>
