.banner {
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}

.banner h1 {
  font-family: Helvetica Neue Condensed Black;
  font-size: 48px;
  color: white;
  text-shadow: 0px 2px 2px #000000;
}

.banner h2 {
  font-family: Helvetica Neue Medium;
  font-size: 24px;
  color: #FF368D;
  text-shadow: 0px 2px 2px #000000;
}

.banner p {
  font-family: Helvetica Neue Regular;
  font-size: 16px;
  color: #808080;
  text-shadow: 0px 2px 2px #000000;
}
