.edit-profile-button {
    position: absolute;
    bottom: 200px;
    left: 16px;
    color: white;

}

.edit-schedule-button {
    position: absolute;
    bottom: -50px;
    left: 400px;
    color: white;
    width: 310px;

}