.edit-profile-button {
    position: absolute;
    bottom: -210px;
    left: 16px;
    color: white;
    width: 540px;

}

.edit-schedule-button {
    position: absolute;
    bottom: -670px;
    left: 400px;
    color: white;
    width: 310px;

}


.edit-schedule-button2 {
    position: absolute;
    bottom: -210px;
    right: -405px;
    color: white;
    width: 310px;

}

.edit-schedule-button3 {
    position: absolute;
    bottom: -80px;
    right: -14px;
    color: white;
    width: 400px;

}