.edit-profile-button {
    position: absolute;
    bottom: -210px;
    left: 16px;
    color: white;
    width: 540px;

}

.edit-schedule-button {
    position: absolute;
    bottom: -1px;
    right: 280px;
    background-color: #3644ff;
    width: 400px;
    margin-bottom: 40px;
    height: 80px;
    font-family: "Tungsten";
    text-shadow: 0px 2px 2px #000000;
    font-size: 40px;
    border: none;


}

.edit-schedule-button:hover {
    background-color: #1721a8;

}


.edit-schedule-button2 {
    position: absolute;
    bottom: -210px;
    right: -405px;
    color: white;
    width: 310px;

}

.edit-schedule-button3 {
    background-color: #3644ff;
    border: none;
    position: absolute;
    bottom: -72px;
    right: 0px;
    width: 400px;
    font-family: "Tungsten";
    text-shadow: 0px 2px 2px #000000;
    color: white;
    font-size: 40px;
    border-radius: 8px;
}

.edit-schedule-button4 {
    background-color: #3644ff;
    border: none;
    position: absolute;
    bottom: 100px;
    right: 18px;
    width: 400px;
    font-family: "Tungsten";
    text-shadow: 0px 2px 2px #00000080;
    color: white;
    font-size: 36px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #00000080;
}



.edit-schedule-button3:hover {
    background-color: #1721a8;
}

.edit-schedule-button4:hover {
    background-color: #1721a8 !important;
    color: white !important;
}

