// Clanparty Classes

.team-header h1 {
  font-family: Helvetica Neue;
  font-size: 48px;
  color: white;
  text-shadow: 0px 2px 2px #000000;
}

.team-header h2 {
  font-family: Helvetica Neue;
  font-size: 24px;
  color: #FF368D;
  text-shadow: 0px 2px 2px #000000;
}

.team-header p {
  font-family: Helvetica Neue;
  font-size: 16px;
  color: #808080;
  text-shadow: 0px 2px 2px #000000;
}

.card h1 {
  font-family: Tungsten;
  font-size: 36px;
  color: white;
  text-shadow: 0px 2px 2px #00000080;
}

.card h2 {
  font-family: Helvetica Neue;
  font-size: 24px;
  color: white;
  text-shadow: 0px 2px 2px #00000080;
}

.card p {
  font-family: Helvetica Neue;
  font-size: 16px;
  color: white;
}

.bold {
  font-weight: bold;
}

// Generic Preset Classes

.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 50%;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-info {
  padding: 16px;
}

.team-cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

.user-show-card {
  margin-top: 20px;
  width: 690px;
}

.user-show-card-schedule {
  margin-top: 20px;
  width: 400px;
  height: 800px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.user-show-card img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

