.btn:hover {
    color: rgba(255, 255, 255, 0.9);
    opacity: 90%;
    text-decoration: none;
}

.container {
  max-width: 960px;
}

.schedule-grid {
    width: 400px;
    position: relative;
    top: -137px;
    left: 70px;
    
}

.schedule-grid-edit {
    width: 400px;
    position: relative;
    margin-left: 80px;
    margin-top: 124px;
}

.schedule-grid-show {
    width: 400px;
    height: 310px;
    position: relative;
    top: 20px;
    right: -35px;

}


.grid-square {
    padding: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #212121;
    border: none;
    border-radius: 6px;
}

.grid-square:disabled:hover {
    padding: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #212121;
    border: none;
    border-radius: 6px;
}



.clicked-square{
    padding: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #5ECC32;
    border: none;
    border-radius: 6px;
}

.range-connecter {
    padding: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #5ECC32;
    border: none;
    border-radius: 6px;
  
}




.deactivated {
    padding-top: 34px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: gray;
    border: none;
    margin-right: 0px;
    margin-bottom: 4px;
}

.grid-square:hover {
    background-color: #5ECC32;
}

.grid-square:active {
    background-color: #255213;
}



.monday {
    position: absolute;
    top: -25px;
    left: 25px;

}

.tuesday {
    position: absolute;
    top: -25px;
    left: 73px;
}

.wednesday {
    position: absolute;
    top: -25px;
    left: 115px;
}

.thursday {
    position: absolute;
    top: -25px;
    left: 163px;
}

.friday {
    position: absolute;
    top: -25px;
    left: 208px;
}

.saturday {
    position: absolute;
    top: -25px;
    left: 252px;

}

.sunday {
    position: absolute;
    top: -25px;
    left: 298px;
}

.monday-squares {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin-top: 12px;
    position: absolute;
    left: 15px;
    top: 0px;
}

.tuesday-squares {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin-top: 12px;
    position: absolute;
    left: 60px;
    top: 0px;

}

.wednesday-squares {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin-top: 12px;
    position: absolute;
    left: 105px;
    top: 0px;
}

.thursday-squares {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin-top: 12px;
    position: absolute;
    left: 150px;
    top: 0px;
}

.friday-squares {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin-top: 12px;
    position: absolute;
    left: 195px;
    top: 0px;
}

.saturday-squares {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin-top: 12px;
    position: absolute;
    left: 240px;
    top: 0px;
}

.sunday-squares {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin-top: 12px;
    position: absolute;
    left: 285px;
    top: 0px;
}

.monday-squares1 {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin-top: 4px;
    position: absolute;
    left: 15px;
    top: 0px;
}

.tuesday-squares1 {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin-top: 4px;
    position: absolute;
    left: 60px;
    top: 0px;

}

.wednesday-squares1 {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin-top: 4px;
    position: absolute;
    left: 105px;
    top: 0px;
}

.thursday-squares1 {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin-top: 4px;
    position: absolute;
    left: 150px;
    top: 0px;
}

.friday-squares1 {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin-top: 4px;
    position: absolute;
    left: 195px;
    top: 0px;
}

.saturday-squares1 {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin-top: 4px;
    position: absolute;
    left: 240px;
    top: 0px;
}

.sunday-squares1 {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin-top: 4px;
    position: absolute;
    left: 285px;
    top: 0px;
}




.edit-profile-container {
    position: relative;
}

.profile-details-h2 {
    margin-bottom: 60px;
    margin-left: 160px;
}



.hour8 {
    position: absolute;
     left: -34px;
     top: 0px;
}
.hour9 {
    position: absolute;
     left: -34px;
     top: 40px;
}
.hour10 {
    position: absolute;
     left: -34px;
     top: 80px;
}
.hour11 {
    position: absolute;
     left: -34px;
     top: 120px;
}
.hour12 {
    position: absolute;
     left: -34px;
     top: 160px;
}
.hour13 {
    position: absolute;
     left: -34px;
     top: 200px;
}
.hour14 {
    position: absolute;
     left: -34px;
     top: 240px;
}



.schedule-title-h2 {
    position: absolute;
    right: 174px;
}

.edit-schedule-title-h2 {
    position: absolute;
    right: 440px;
    top: -30px;
    color: white;
}

.show-schedule-title-h2 {
    position: absolute;
    right: 0px;

}

.view-only {
    padding: 16px;
    background-color: #212121;
    border: none;
    margin-right: 8px;
    margin-bottom: 8px;
    pointer-events: none;
    border-radius: 6px;
}


.view-only:hover {
    padding: 16px;
    background-color: #212121;
    border: none;
    margin-right: 8px;
    margin-bottom: 8px;
    pointer-events: none;
    border-radius: 6px;
}

.view-only-green {
    padding: 16px;
    background-color: #5ECC32;
    border: none;
    margin-right: 8px;
    margin-bottom: 8px;
    pointer-events: none;
    border-radius: 6px;
}


.view-only-green:hover {
    padding: 16px;
    background-color: #5ECC32;
    border: none;
    margin-right: 8px;
    margin-bottom: 8px;
    pointer-events: none;
    border-radius: 6px;
}

.schedule-modal {
    background-color: #080808;
}

.view-only-green-edit {
    padding: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #5ECC32;
    border: none;
    border-radius: 6px;
}


.view-only-green-edit:hover {
    padding: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #5ECC32;
    border: none;
    border-radius: 6px;
}

.event-modal:hover {
    padding: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #3644FF;
    border: none;
    border-radius: 6px;
}

.event-modal:active {
    padding: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #050e83;
    border: none;
    border-radius: 6px;
}


.grayout {
    padding: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #1b3b0f;
    border: none;
    border-radius: 6px;
}



.grayout2 {
    padding: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #212121;
    border: none;
    border-radius: 6px;
}

.grayout3 {
    padding: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #212121;
    border: none;
    border-radius: 6px;
}



.clicked-square-event{
    padding: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #3644FF ;
    border: none;
    border-radius: 6px;
}

.range-connecter-event {
    padding: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #3644FF ;
    border: none;
    border-radius: 6px;
}



.days-modal {
    position: absolute;
    top: 6px;
    left: 0px;

}

.hours-modal {
    position: absolute;
    top: 10px;
    left: 7px;
}

.modal-content {
    border-radius: 8px;
    color: white;
    font-family: Helvetica Neue Bold;
    font-size: 24px;
    color: white;
    text-shadow: 0px 2px 2px #00000080;
}

.modal-content button {
    color: rgba(255, 255, 255, 0.637);
}


.close {
    opacity: 80% !important;
}

.close:hover {
    opacity: 50% !important;
    color: rgba(255, 255, 255, 0.637) !important;
}



.disabler {
    padding: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #0c0c0c;
    border: none;
    border-radius: 6px;
    pointer-events: none;
}

.hidden {
    color: black;
}

.hidden:hover {
    color: black;
}

.index {
    padding: 20px;
    margin-right: 6px;
    margin-bottom: 8px;

}

.day-grid {
    position: relative;
    top: 40px;
    left: -45px;
    width: 150%;
    opacity: 0%;
    transition: all 0.5s;
    
}

.day-grid-enabled {
    position: relative;
    top: 40px;
    left: -45px;
    width: 150%;
    opacity: 100%;
    transition: all 3s;
    
}

.caret-button {
    position: relative;
    top: -60px;
    right: -290px;
    background-color:transparent !important ;
    border: none;
    transition: all 1s;
}

.clicked-caret {
    position: relative;
    top: 38px;
    right: -290px;
    background-color:transparent !important ;
    border: none;
    transform: rotate(180deg);
    transition: all 1s;
}

.fa-caret-down {
    font-size: 30px;
    color: rgb(170, 168, 168);
}

.caret-button:hover {
    .fa-caret-down{
        color: rgb(228, 220, 220);
    }
    
}

.caret-button:active {
    .fa-caret-down{
        color: rgb(151, 149, 149);
    }
}




.monday1 {
    position: absolute;
    top: -22px;
    left: 15px;
    color: white;

}

.tuesday1 {
    position: absolute;
    top: -22px;
    left: 67px;
    color: white;
}

.wednesday1 {
    position: absolute;
    top: -22px;
    left: 115px;
    color: white;
}

.thursday1 {
    position: absolute;
    top: -22px;
    left: 167px;
    color: white;
}

.friday1 {
    position: absolute;
    top: -22px;
    left: 217px;
    color: white;
}

.saturday1 {
    position: absolute;
    top: -22px;
    left: 267px;
    color: white;

}

.sunday1 {
    position: absolute;
    top: -22px;
    left: 317px;
    color: white;
}