.schedule-grid {
    width: 400px;
    position: relative;
    margin-left: 30px;
    margin-top: 80px;
}

.schedule-grid-edit {
    width: 400px;
    position: relative;
    margin-left: 80px;
    margin-top: 124px;
}


.grid-square {
    padding-top: 34px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #c7c9cc;
    border: none;
    margin-right: 0px;
    margin-bottom: 4px;
}

.grid-square:disabled:hover {
    padding-top: 34px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: grey;
    border: none;
    margin-right: 0px;
    margin-bottom: 4px;
}

.clicked-square{
    padding-top: 34px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: $success;
    border: none;
    margin-right: 0px;
    margin-bottom: 4px;
}

.range-connecter {
    padding-top: 34px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: $success;
    border: none;
    margin-right: 0px;
    margin-bottom: 4px;
}



.deactivated {
    padding-top: 34px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: gray;
    border: none;
    margin-right: 0px;
    margin-bottom: 4px;
}

.grid-square:hover {
    background-color: $success;
}

.grid-square:active {
    background-color: rgb(25, 163, 101);
}



.monday {
    position: absolute;
    top: -20px;
    left: 28px;

}

.tuesday {
    position: absolute;
    top: -20px;
    left: 75px;
}

.wednesday {
    position: absolute;
    top: -20px;
    left: 118px;
}

.thursday {
    position: absolute;
    top: -20px;
    left: 159px;
}

.friday {
    position: absolute;
    top: -20px;
    left: 210px;
}

.saturday {
    position: absolute;
    top: -20px;
    left: 245px;

}

.sunday {
    position: absolute;
    top: -20px;
    left: 288px;
}

.monday-squares {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin-top: 4px;
}

.tuesday-squares {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin-top: 4px;
    position: absolute;
    left: 60px;
    top: 0px;

}

.wednesday-squares {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin-top: 4px;
    position: absolute;
    left: 105px;
    top: 0px;
}

.thursday-squares {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin-top: 4px;
    position: absolute;
    left: 150px;
    top: 0px;
}

.friday-squares {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin-top: 4px;
    position: absolute;
    left: 195px;
    top: 0px;
}

.saturday-squares {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin-top: 4px;
    position: absolute;
    left: 240px;
    top: 0px;
}

.sunday-squares {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin-top: 4px;
    position: absolute;
    left: 285px;
    top: 0px;
}




.edit-profile-container {
    position: relative;
}

.profile-details-h2 {
    margin-bottom: 60px;
    margin-left: 160px;
}

.hours p {
    margin-right: 20px;
}

.schedule-title-h2 {
    position: absolute;
    right: 174px;
}

.edit-schedule-title-h2 {
    position: absolute;
    right: 456px;
}

.view-only {
    padding-top: 34px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #c7c9cc;
    border: none;
    margin-right: 0px;
    margin-bottom: 4px;
    pointer-events: none;
}

.view-only:hover {
    padding-top: 34px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #c7c9cc;
    border: none;
    margin-right: 0px;
    margin-bottom: 4px;
    pointer-events: none;
}

.view-only-green {
    padding-top: 34px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: $success;
    border: none;
    margin-right: 0px;
    margin-bottom: 4px;
    pointer-events: none;
}


.view-only-green:hover {
    padding-top: 34px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: $success;
    border: none;
    margin-right: 0px;
    margin-bottom: 4px;
    pointer-events: none;
}
