.navbar-lewagon {
  justify-content: space-between;
  // background: white;
  background: #080808;
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.buh:hover {
  background-color: transparent;
  border: 1px solid #FF368D;
}
